* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  font-size: 62.5%;
  --bg-default: #f8fafc;
  --bg-card-white: #fff;
  --bg-border-white: #e2e8f0;
  --bg-card-dark: #0f172a;
  --card-purple: #7c3aed;
  --card-title: #1e293b;
  --card-border: #996dff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: var(--bg-default);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 2rem;
  gap: 3.2rem;
  height: 100%;
  width: 100%;
  max-width: 121.6rem;
}

main article {
  width: 38.4rem;
  height: 45.4rem;
  border-radius: 1rem;
  padding: 4.8rem 3.2rem;
  flex-grow: 1;
  flex-basis: 100px;
}

hr {
  margin: 3.2rem 0;
}

.bg-white {
  background-color: var(--bg-card-white);
  border: 1px solid var(--bg-border-white);

  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.bg-white:hover {
  border: 1px solid var(--card-border);
}

.bg-white div p {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--card-purple);
  margin-bottom: 0.8rem;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.card-title h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.9rem;
  color: var(--card-title);
}

.card-title span {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--card-title);
}

.card-title span strong {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.7rem;
  color: var(--card-title);
}

.bg-white div button {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 2.4rem;
  background-color: transparent;

  border-radius: 0.4rem;
  border: 1px solid var(--card-title);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--card-title);
  transition: 0.2s;
}

.bg-white div button:hover {
  color: var(--bg-card-white);
  background-color: var(--card-title);
  cursor: pointer;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.benefits div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefits div span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.06em;
  color: #475569;
}

.benefits div > img {
  cursor: pointer;
}

.bg-dark {
  background-color: var(--bg-card-dark);
}

@media screen and (max-width: 1251px) {
  main {
    flex-wrap: wrap;
  }
}
